<div class="row">
  <div class="col-md col-sm">
    <h2>Lenders</h2>
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Lenderable id</th>
          <th scope="col">Lenderable name</th>
          <th scope="col">Type</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <% @lenders.each do |lender| %>
          <tr>
            <th scope="row"><%= lender.id %></th>
            <td><%= lender.lenderable_id %></td>
            <td><%= lenderable_name(lender) %></td>
            <td><%= lender.lenderable_type %></td>
            <td>
              <%= link_to 'Destroy', admin_lender_path(debtor), class: "badge badge-danger", method: :delete, data: { confirm: 'Are you gonna delete that lender?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
