<%= form_for [:admin, @payment] do |f| %>
  <%= render 'layouts/components/errors', errors: @payment.errors %>
  <div class="row">
     <div class="col-md-12">
        <div class="form-group">
           <%= f.label :sum %>
           <%= f.text_field :sum, autofocus: true, autocomplete: '\sum', class: 'form-control', required: true %>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="form-group">
           <%= f.label :description %>
           <%= f.text_area :description, autofocus: true, autocomplete: '\description', class: 'form-control', required: true %>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="form-group">
           <%= f.label :debtor %>
           <%= f.select :debtor_id, options_for_select(@debtors.map { |d| [d.debtorable.name , d.id] }, :debtor_id), {}, class: "form-control" %>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="form-group">
           <%= f.label :state %>
           <%= f.select :state, options_for_select(["pending", "paid"], :state), {}, class: "form-control" %>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="form-group">
           <%= f.label :paid_at %>
           <%= f.date_field :paid_at, autofocus: true, autocomplete: '\paid_at', class: 'form-control' %>
        </div>
     </div>
  </div>
  <div class="form-group">
     <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
