<div class="row">
  <div class="col-md col-sm">
    <h2>Payments</h2>
  </div>
  <div class="col-md-3 col-sm-3">
    <%= link_to 'Create new payment', new_admin_payment_path, class: 'btn btn-outline-success' %>
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sum</th>
          <th scope="col">Description</th>
          <th scope="col">Deptor id</th>
          <th scope="col">State</th>
          <th scope="col">Paid at</th>
          <th scope="col">Created at</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <th scope="row"><%= payment.id %></th>
            <td><%= humanized_money_with_symbol payment.sum %></td>
            <td><%= payment.description %></td>
            <td><%= payment.debtor_id %></td>
            <td><%= payment.state %></td>
            <td><%= payment.paid_at %></td>
            <td><%= payment.created_at %></td>
            <td>
              <%= link_to 'Edit', edit_admin_payment_path(payment), class: "badge badge-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
