<div class="row">
  <div class="col-md col-sm">
    <h2>Debtors</h2>
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Debtorable id</th>
          <th scope="col">Debtorable name</th>
          <th scope="col">Type</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <% @debtors.each do |debtor| %>
          <tr>
            <th scope="row"><%= debtor.id %></th>
            <td><%= debtor.debtorable_id %></td>
            <td><%= deptorable_name(debtor) %></td>
            <td><%= debtor.debtorable_type %></td>
            <td>
              <%= link_to 'Destroy', admin_debtor_path(debtor), class: "badge badge-danger", method: :delete, data: { confirm: 'Are you gonna delete that debtor?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>