<%= form_for [:admin, @organization] do |f| %>
  <%= render 'layouts/components/errors', errors: @organization.errors %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: '\name', class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, autofocus: true, autocomplete: 'description', class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
