<div class="row">
  <div class="col-md col-sm">
    <h2>Organizations</h2>
  </div>
  <div class="col-md-3 col-sm-3">
    <%= link_to 'Create new organization', new_admin_organization_path, class: 'btn btn-outline-success' %>
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <th scope="row"><%= organization.id %></th>
            <td><%= organization.name %></td>
            <td><%= organization.description %></td>
            <td>
              <%= link_to 'Edit', edit_admin_organization_path(organization), class: "badge badge-warning" %>
              <%= link_to 'Make deptor', admin_debtors_path(debtorable_id: organization, debtorable_type: organization.class.name), method: :post, class: "badge badge-success" %>
              <%= link_to 'Destroy', admin_organization_path(organization), class: "badge badge-danger", method: :delete, data: { confirm: 'Are you gonna delete that organization?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
