<% if errors.any? %>
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
          <%= "You have #{@user.errors.count} errors:" %>
        </h4>
        <ul>
          <% errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <hr>
        <p class="mb-0">Please try again!</p>
      </div>
    </div>
  </div>
<% end %>
