<% if admin_namespace? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<% end %>
  <%= link_to 'Finance managment', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if admin_namespace? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
            <%= link_to 'Users', admin_users_path, class: "dropdown-item" %>
            <%= link_to 'Organizations', admin_organizations_path, class: "dropdown-item" %>
            <%= link_to 'Debtors', admin_debtors_path, class: "dropdown-item" %>
            <%= link_to 'Lenders', admin_lenders_path, class: "dropdown-item" %>
            <%= link_to 'Payment', admin_payments_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if current_user %>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Admin panel', admin_root_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'Edit profile', edit_user_registration_path, class: "nav-link" %>
        </li>
        <%= link_to 'Log out', destroy_user_session_path, class: "nav-link", method: :delete %>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
