<%= form_for [:admin, @user] do |f| %>
  <%= render 'layouts/components/errors', errors: @user.errors %>
  <div class="row">
    <div class="col-md col-sm-12">
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: 'first name', class: 'form-control' %>
      </div>
    </div>
    <div class="col-md col-sm-12">
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: 'last name', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md col-sm-12">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
      </div>
    </div>
    <div class="col-md col-sm-12">
      <div class="form-group">
        <%= f.label :role %>
        <%= f.select :role, options_for_select(User.roles.keys, :role), {}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md col-sm-12">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
      </div>
    </div>
    <div class="col-md col-sm-12">
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
