<div class="row">
  <div class="col-md col-sm">
    <h2>Users</h2>
  </div>
  <div class="col-md-3 col-sm-3">
    <%= link_to 'Create new user', new_admin_user_path, class: 'btn btn-outline-success' %>
  </div>
</div>
<div class="row">
  <div class="col mt-3">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">email</th>
          <th scope="col">role</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
              <%= link_to 'Edit', edit_admin_user_path(user), class: "badge badge-warning" %>
              <%= link_to 'Make deptor', admin_debtors_path(debtorable_id: user, debtorable_type: user.class.name), method: :post, class: "badge badge-success" %>
              <%= link_to 'Destroy', admin_user_path(user), class: "badge badge-danger", method: :delete, data: { confirm: 'Are you gonna delete that user?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
