<!DOCTYPE html>
<html>
  <head>
    <title>FinanceManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/components/header' %>
      <%= render 'layouts/components/alert' %>
      <div class="mt-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
